[submodule "repos/reference-app"]
	path = repos/reference-app
	url = git@github.com:svirsky-am/rrr-homeworks.git
	branch = module_5/reference-app
[submodule "repos/origin-of-broken-app"]
	path = repos/origin-of-broken-app
	url = git@github.com:svirsky-am/rrr-homeworks.git
	branch = module_5/origin-of-broken-app
[submodule "repos/origin-of-broken-app-fix-unit"]
	path = repos/origin-of-broken-app-fix-unit
	url = git@github.com:svirsky-am/rrr-homeworks.git
	branch = module_5/reference-app
[submodule "repos/origin-of-broken-app-with-hot-fix"]
	path = repos/origin-of-broken-app-with-hot-fix
	url = git@github.com:svirsky-am/rrr-homeworks.git
	branch = module_5/origin-of-broken-app
